@font-face {
  font-family: Abel-Regular;
  src: url(./fonts/Abel-Regular.ttf);
}
@font-face {
  font-family: Rationale-Regular;
  src: url(./fonts/Rationale-Regular.ttf);
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

body {
  font-family: Abel-Regular;
  background-color: #181c24;
  color: #eee;
  user-select: none;
  overflow: hidden;
  font-size: 0.75em;
  font-weight: normal;
}

a,
a:visited {
  text-decoration: none;
  color: #eee;
}

#title {
  font-family: Rationale-Regular;
  font-weight: 600;
  font-size: 26px;
}

.container {
  width: 230px;
  text-align: center;
  background-color: #343443;
  border-color: #343443;
  border-style: solid;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  letter-spacing: 0.5px;
}

#data {
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 150px;
}

#native {
  border-radius: 7px;
}

#tier {
  border-radius: 7px;
  color: black;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-background {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 0.8s ease-out forwards;
}

.percentage {
  fill: #eee;
  font-family: Abel-Regular;
  font-size: 0.75em;
  text-anchor: middle;
  font-weight: 700;
}
